@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600|Poller+One:400");
@font-face {
  font-family: "SF Pro Text-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SFProText-Medium_1.otf") format("opentype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --netralbackground-card: #f9fbfb;
  --netralwhite: #ffffff;
  --white: #ffffff;
  --x1smmain2: #4c7380;
  --x1smsurface2: #d8e4e8;

  --font-size-l: 14px;
  --font-size-m: 12px;
  --font-size-xl: 15px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 24px;

  --font-family-poller_one: "Poller One", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-sf_pro_text-medium: "SF Pro Text-Medium", Helvetica;
}

.body-1semibold {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.09px;
}

.body-2semibold {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.09px;
}

.body-3semibold {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.07px;
}

.caption-1regular {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06px;
}

:root {
  --black: #000000;
  --netralbackground-card: #f9fbfb;
  --netralwhite: #ffffff;
  --white: #ffffff;
  --x1smmain2: #4c7380;
  --x1smsurface2: #d8e4e8;

  --font-size-l: 14px;
  --font-size-m: 12px;
  --font-size-xl: 15px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 24px;

  --font-family-poller_one: "Poller One", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-sf_pro_text-medium: "SF Pro Text-Medium", Helvetica;
}

.body-1semibold {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.09px;
}

.body-2semibold {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.09px;
}

.body-3semibold {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.07px;
}

.caption-1regular {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06px;
}
