/* screen - usage */

.usage {
  align-items: flex-start;
  background-color: #032443;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 932px;
  overflow: hidden;
  width: 430px;
}

.usage .system-dark-status-bar-default {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-left: -2px;
  min-width: 423px;
  padding: 0 14.3px;
}

.usage .time {
  color: var(--netralwhite);
  font-family: var(--font-family-im_fell_great_primer-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: normal;
  min-height: 18px;
  text-align: center;
  width: 54px;
}

.usage .cellular-connection {
  height: 11px;
  margin-left: 267px;
  margin-top: 2px;
  width: 17px;
}

.usage .wifi {
  height: 11px;
  margin-left: 5px;
  margin-top: 1.66px;
  width: 15px;
}

.usage .battery {
  align-items: center;
  display: flex;
  gap: 1px;
  margin-left: 5px;
  margin-top: 2px;
  min-width: 24px;
}

.usage .overlap-group-1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #ffffff59;
  border-radius: 2.67px;
  display: flex;
  height: 11px;
  min-width: 22px;
  padding: 1px;
}

.usage .capacity {
  background-color: var(--netralwhite);
  border-radius: 1.33px;
  height: 7px;
  width: 18px;
}

.usage .cap {
  height: 4px;
  margin-bottom: 0;
  width: 1px;
}

.usage .overlap-group4 {
  height: 873px;
  background-color: #032443;
  margin-left: -17px;
  position: relative;
  width: 463px;
}

.usage .frame-622 {
  align-items: flex-start;
  background-color: var(--netralwhite);
  border-radius: 0px 32px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 723px;
  left: 17px;
  padding: 20px 16px;
  position: absolute;
  top: 116px;
  width: 430px;
} 

.usage .banner{
  /* color: white; */
  display: inline;
}
.usage .frame-820{
  position: relative;
  margin-left: -150px;
}

.usage .list{
  padding-left: 5px;
}

.usage .seeall{
  padding-left: 280px;
}

.usage .musicname{
  text-align: left;
  position: relative;
  margin-left: -19px;
  padding-bottom: 10px;
  color: white;
}

.usage .frame-821{
  display: inline;
  margin-left: -20px;
}

.usage .tag1text{
  font-size: small;
  background-color: #3F3C4E;
  color:#FD5B71; 
  padding: 5px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.usage .tag2text{
  font-size: small;
  background-color: #3F3C4E;
  color:#9B51E0; 
  padding: 5px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.usage .frame-823{
  position: relative;
  margin-left: -120px;
}

.usage .musicname1{
  text-align: left;
  position: relative;
  margin-left: -20px;
  padding-bottom: 10px;
  color: white;
}


.usage .tag3text{
  font-size: small;
  background-color: #3F3C4E;
  color: #bdbdbd;; 
  padding: 5px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.usage .tag4text{
  font-size: small;
  background-color: #3F3C4E;
  color:#FFA656; 
  padding: 5px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.usage .frame-824{
  position: relative;
  margin-left: -110px;
}

.usage .musicname2{
  text-align: left;
  position: relative;
  margin-left: -20px;
  padding-bottom: 10px;
  color: white;
}

.usage .frame-825{
  position: relative;
  margin-left: -110px;
}

.usage .tag5text{
  font-size: small;
  background-color: #3F3C4E;
  color: #07E092; 
  padding: 5px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.usage .songtime{
  font-size: 15px;
  width:30px;
  padding-right: 5px;
  text-align: right;
  font-family: "Poppins", Helvetica;
  padding-bottom: 5px;
  color: #bdbdbd;
}

.usage .see-all {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 206px;
  justify-content: space-around;
  padding: 0px 0px 4px;
  position: relative;
  width: 343px;
}

.usage .frame-649 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.usage .friends {
  color: var(--black);
  font-weight: 600;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.usage .frame-22 {
  align-items: flex-start;
  background-color: var(--x1smmain2);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 4px 6px;
  position: relative;
}

.usage .number {
  color: var(--netralbackground-card);
  font-weight: 600;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.usage .frame-628 {
  align-items: center;
  align-self: stretch;
  background-color: black;
  border-radius: 16px;
  box-shadow: 0px 0px 2px #0e1f351f;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 6px 6px;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  width: 100%;
}

.usage .frame-628:hover {
  /* background-color:gray; */
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.usage .frame-669 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  height: 43px;
  padding: 2px;
  position: relative;
  width: 45px;
}

.usage .music1 {
  height: 40px;
  bottom: 0.5px;
  position: absolute;
  width: 40px;
}


.usage .frame-670 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}



.usage .jonson {
  align-self: stretch;
  color: var(--black);
  font-weight: 600;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
}

.usage .frame-664 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
  margin-right: 15px;
}

.usage .buttons_icon {
  color: #868686;
  display: flex;
  padding-right: 10px;
  padding-left: 8px;
  margin-top: 22px;
  padding-bottom: 0px;
  position: relative;
}

.usage .line-5 {
  align-self: stretch;
  position: relative;
  width: 1px;
}

.usage .frame-662 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  position: relative;
  width: 300px;
}

.usage .frame-663 {
  flex: 0 0 auto;
  position: relative;
}

.usage .frame-10 {
  align-items: center;
  display: flex;
  left: 32px;
  position: absolute;
  top: 19px;
  width: 349px;
}

.usage .frame-417 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  height: 27px;
  position: relative;
}

.usage .fi-ss-angle-small-left {
  height: 24px;
  position: relative;
  width: 24px;
}

.usage .back-to-home {
  color: var(--netralwhite);
  font-weight: 400;
  line-height: 12px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.usage .frame-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  /* margin-right: -27px; */
  position: relative;
  width: 268px;
}

.usage .title {
  color: var(--netralwhite);
  font-family: var(--font-family-poller_one);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.usage .system-dark-home-indicator {
  align-items: flex-end;
  display: flex;
  height: 34px;
  left: 8px;
  min-width: 430px;
  padding: 8px 148px;
  position: absolute;
  top: 839px;
}

.usage .home-indicator {
  background-color: var(--netralwhite);
  border-radius: 100px;
  height: 5px;
  width: 134px;
}

.usage .eos_person_add_filled {
  align-items: center;
  display: flex;
  height: 64px;
  left: 349px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  width: 64px;
}

.usage .overlap-group1 {
  align-items: center;
  background-color: #fbbc05;
  border-radius: 24px;
  display: flex;
  height: 48px;
  min-width: 48px;
  padding: 0 6px;
}

.usage .vector {
  height: 28px;
  width: 35px;
}

.usage .notocloud {
  height: 128px;
  left: 355px;
  position: absolute;
  top: 32px;
  width: 92px;
}


.usage .frame-637 {
  align-items: flex-start;
  background-color: #fbbc05;
  border: 0.8px solid;
  border-color: var(--x1smsurface2);
  border-radius: 50px;
  display: inline-flex;
  gap: 8px;
  left: 230px;
  padding: 8px;
  position: absolute;
  top: 17px;
}

.usage .frame-637-2 {
  align-items: flex-start;
  background-color: #48e000;
  border: 0.8px solid;
  border-color: var(--x1smsurface2);
  border-radius: 50px;
  display: inline-flex;
  gap: 8px;
  left: 230px;
  padding: 8px;
  position: absolute;
  top: 17px;
}

.usage .do-not-disturb-1 {
  height: 21px;
  position: relative;
  width: 27px;
}

.usage .overlap-group3 {
  height: 107px;
  left: 0;
  position: absolute;
  top: 746px;
  width: 463px;
}

.usage .overlap-group {
  height: 107px;
  left: 0;
  position: absolute;
  top: 0;
  width: 463px;
}

.usage .menu-1 {
  align-items: flex-end;
  display: flex;
  height: 107px;
  left: 0;
  min-width: 463px;
  position: absolute;
  top: 0;
}

.usage .overlap-group-2 {
  border-radius: 32px 22px 0px 0px;
  height: 75px;
  position: relative;
  width: 463px;
}

.usage .union {
  height: 75px;
  left: 17px;
  position: absolute;
  top: 0;
  width: 430px;
}

.usage .frame-1991 {
  align-items: center;
  border-radius: 32px 22px 0px 0px;
  display: flex;
  height: 75px;
  justify-content: space-between;
  left: 0;
  padding: 0px 25px;
  position: absolute;
  top: 0;
  width: 463px;
}

.usage .navigationmenu {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.usage .navigationmenu-home-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 75px;
  padding: 12.5px 15px;
  position: relative;
  width: 70px;
}

.usage .home {
  height: 24px;
  position: relative;
  width: 24px;
}

.usage .place {
  color: #032443;
  font-family: var(--font-family-sf_pro_text-medium);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.usage .navigationmenu-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 75px;
  padding: 12.5px 15px;
  position: relative;
  width: 70px;
}

.usage .user {
  height: 24px;
  position: relative;
  width: 24px;
}

.usage .light-bulb {
  height: 50px;
  left: 201px;
  position: absolute;
  top: 28px;
  width: 59px;
}

.usage .ellipse-205 {
  background-color: #e1e7e9;
  border-radius: 30px;
  left: 300px;
  height:60px;
  width: 70px;
  position: absolute;
  top: 5px;
}

.usage .vector-1 {
  height: 22px;
  left: 315px;
  position: absolute;
  top: 53px;
  width: 34px;
}

.usage .frame-47 {
  left: 130px;
  position: absolute;
  top: 45px;
}

.usage .frame-48 {
  left: 305px;
  position: absolute;
  top: 10px;
}


.usage .user-1 {
  height: 24px;
  left: 397px;
  position: absolute;
  top: 48px;
  width: 25px;
}

.vector-botton {
  width: 45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.usage .playButton{
  padding-top: 2px;
  font-size: 17px;
  height: 20px;
  bottom: 0.5px;
  position: absolute;
  padding: 0%;
  width: 25px;
  background-color:black;
  border: none;
  color: white;
}

.usage .shareButton{
  font-size: 17px;
  height: 20px;
  width: 25px;
  background-color:black;
  border:none;
  color: white;;

}

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user-info {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-info:last-child {
  border-bottom: none;
}

#container-popup {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 背景遮罩颜色 */
}

.popup {
  left:33%;
  right:40%;
  background-color: #fff; /* 白色弹窗背景 */
  width: 428px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: none;
}

.popup .close {
  position: absolute; /* 设置为绝对定位，相对于.popup定位 */
  top: 10px; /* 距离上边框10px */
  right: 10px; /* 距离左边框10px */
  cursor: pointer;
}

.popup-content p {
  margin: 0;
}

.frame-988 {
  display: flex;
  align-items: center;
  padding-top:20px;
  padding-bottom: 10px;
}

.profile-person {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  margin-right: 90px;
}
.username1{
  margin-right: 100px;
}

.username2{
  margin-right: 119px;
}


.username3{
  margin-right: 93px;
}

.username4{
  margin-right: 100px;
}

.checkbox{
  width: 22px;
  height: 22px;
  background-color:#E9EBED; 
  padding:5px;
}

.checkbox:checked {
  background-color:#27AE60;
  color: white;
}

.user-info {
  display: flex; 
  align-items: center; 
}

.hidden {
  display: none;
}

#searchInput{
  padding-left: 10px;
  height: 30px;
  width:300px;
  border: none;
  background-color: #E9EBED;
  border-radius: 20px;
}

.searchbutton{
  background-color: black;
  color: white;
  border-radius: 5px;

}

#showMessageButton{
  background-color: #27AE60;
  border: none;
  color: white;
  border-radius: 20px;
  height: 30px;
  width:360px;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 20px;

}

#message{
  background-color: #E9EBED;
  color:gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

